# https://github.com/gregrickaby/nextjs-github-pages/blob/main/.github/workflows/deploy.yml

name: Deploy to Github Pages

on:
  push:
    branches:
      - master

  workflow_dispatch:

env:
  PUBLIC_URL: ${{ vars.PUBLIC_URL }}
  REACT_APP_MES_SIGNALEMENTS_URL: ${{ vars.REACT_APP_MES_SIGNALEMENTS_URL }}
  REACT_APP_MES_SIGNALEMENTS_SOURCE_ID: ${{ vars.REACT_APP_MES_SIGNALEMENTS_SOURCE_ID }}
  REACT_APP_API_SIGNALEMENT_URL: ${{ vars.REACT_APP_API_SIGNALEMENT_URL }}
  REACT_APP_DOC_ADRESSE_URL: ${{ vars.REACT_APP_DOC_ADRESSE_URL }}

jobs:
  deployment:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
          cache: "yarn"

      - name: Build
        run: |
          yarn
          yarn build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./build
          publish_branch: gh-pages
